# House Pricing

## Problem Statement

We would like to predict the house of a house based on its characteristics.

In [2]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv("house_prices.csv")

In [4]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Building Gradient Boosting Trees Example with only numeric features

In [5]:
df.columns[df.dtypes==int64]

Index(['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars',
       'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [7]:
X = df[['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars',
       'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']]

In [8]:
y = df['SalePrice']

In [9]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [59]:
pred1 = y_train.mean()

In [60]:
pred1

180372.02359208523

In [61]:
dfr = pd.DataFrame()

In [62]:
dfr ["real"]=y_train
dfr["pred1"]=pred1

In [63]:
dfr.head()

       real          pred1
344   85000  180372.023592
213  156000  180372.023592
669  137500  180372.023592
950  129000  180372.023592
169  228000  180372.023592

In [64]:
dfr["resid1"] = dfr["real"] - dfr["pred1"]

In [65]:
dfr.head()

       real          pred1        resid1
344   85000  180372.023592 -95372.023592
213  156000  180372.023592 -24372.023592
669  137500  180372.023592 -42872.023592
950  129000  180372.023592 -51372.023592
169  228000  180372.023592  47627.976408

In [66]:
from sklearn.tree import DecisionTreeRegressor
reg2 = DecisionTreeRegressor(max_depth=3)
reg2.fit(X_train,dfr["resid1"])

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [67]:
alfa = 0.1

In [68]:
dfr["pred2"]= dfr["pred1"]+ alfa* reg2.predict(X_train)

In [69]:
dfr.head()

       real          pred1        resid1          pred2
344   85000  180372.023592 -95372.023592  174894.040188
213  156000  180372.023592 -24372.023592  174894.040188
669  137500  180372.023592 -42872.023592  174894.040188
950  129000  180372.023592 -51372.023592  174894.040188
169  228000  180372.023592  47627.976408  189456.004999

In [70]:
dfr["resid2"] = dfr["real"] - dfr["pred2"]

In [71]:
dfr.head()

       real          pred1        resid1          pred2        resid2
344   85000  180372.023592 -95372.023592  174894.040188 -89894.040188
213  156000  180372.023592 -24372.023592  174894.040188 -18894.040188
669  137500  180372.023592 -42872.023592  174894.040188 -37394.040188
950  129000  180372.023592 -51372.023592  174894.040188 -45894.040188
169  228000  180372.023592  47627.976408  189456.004999  38543.995001

In [72]:
reg3 = DecisionTreeRegressor(max_depth=4)
reg3.fit(X_train,dfr['resid2'])

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [73]:
dfr["pred3"] = dfr["pred1"]+alfa*reg2.predict(X_train)+alfa*reg3.predict(X_train)

In [74]:
dfr["resid3"] = dfr["real"] - dfr["pred3"]

In [75]:
dfr.head()

,real,pred1,resid1,pred2,resid2,pred3,resid3
344,85000,180372.023592,-95372.023592,174894.040188,-89894.040188,169786.220626,-84786.220626
213,156000,180372.023592,-24372.023592,174894.040188,-18894.040188,169786.220626,-13786.220626
669,137500,180372.023592,-42872.023592,174894.040188,-37394.040188,166979.213558,-29479.213558
950,129000,180372.023592,-51372.023592,174894.040188,-45894.040188,169786.220626,-40786.220626
169,228000,180372.023592,47627.976408,189456.004999,38543.995001,197961.600623,30038.399377

In [76]:
pred_test1 = pred1 + alfa*reg2.predict(X_test)

In [77]:
pred_test2 = pred1 + alfa*reg2.predict(X_test)+alfa*reg3.predict(X_test)

In [78]:
from sklearn.metrics import mean_squared_error

In [79]:
np.sqrt(mean_squared_error(y_test,pred_test1))

80233.14822179338

In [80]:
np.sqrt(mean_squared_error(y_test,pred_test2))

75727.14734774253

In [81]:
from sklearn.ensemble import GradientBoostingRegressor

In [82]:
from sklearn.model_selection import cross_val_score

In [83]:
regGBR = GradientBoostingRegressor(max_depth=4,n_estimators=100,
                                   learning_rate=0.1)

In [84]:
cross_val_score(regGBR,X,y,scoring="neg_mean_absolute_error").mean()

/Users/aalmagro/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

-16745.849561831743

In [85]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [88]:
reg = RandomizedSearchCV(GradientBoostingRegressor(),
                         param_distributions={"max_depth":np.arange(2,10),
                                             "learning_rate":[0.05,0.1,0.15]},
                         scoring = "neg_mean_absolute_error",
                         cv=5,
                         n_iter=10)

In [89]:
reg.fit(X,y)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_sampl...=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=10, n_jobs=None,
          param_distributions={'max_depth': array([2, 3, 4, 5, 6, 7, 8, 9]), 'learning_rate': [0.05, 0.1, 0.15]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring='neg_mean_absolute_error',
          verbose=0)

In [90]:
reg.best_score_

-16587.750725439273

In [91]:
reg.best_params_

{'max_depth': 3, 'learning_rate': 0.1}

In [98]:
regBest = GradientBoostingRegressor(n_estimators=500, 
                                    max_depth=3,learning_rate=0.1)

In [97]:
GradientBoostingRegressor?

In [93]:
regBest.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=500, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics

In [101]:
cross_val_score(regBest,X,y,scoring="neg_mean_absolute_error").mean()

/Users/aalmagro/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

-16576.049778101722