# Pandas

In [1]:
import pandas as pd

### Import Data

In [4]:
data = pd.read_csv('../UPDATE_TSA_NOTEBOOKS/Data/population_by_county.csv')

### Show the head of the DataFrame

In [5]:
data.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

### What are the column names?

In [6]:
data.columns.values

array(['County', 'State', '2010Census', '2017PopEstimate'], dtype=object)

In [10]:
data['State'].nunique()

51

### How many States are represented in this dataset?

In [9]:
len(data['State'].unique())

51

### Get a list or array of all states in the dataset

In [16]:
states_list = data['State'].unique().tolist()
states_list

['South Carolina',
 'Louisiana',
 'Virginia',
 'Idaho',
 'Iowa',
 'Kentucky',
 'Missouri',
 'Oklahoma',
 'Colorado',
 'Illinois',
 'Indiana',
 'Mississippi',
 'Nebraska',
 'North Dakota',
 'Ohio',
 'Pennsylvania',
 'Washington',
 'Wisconsin',
 'Vermont',
 'Minnesota',
 'Florida',
 'North Carolina',
 'California',
 'New York',
 'Wyoming',
 'Michigan',
 'Alaska',
 'Maryland',
 'Kansas',
 'Tennessee',
 'Texas',
 'Maine',
 'Arizona',
 'Georgia',
 'Arkansas',
 'New Jersey',
 'South Dakota',
 'Alabama',
 'Oregon',
 'West Virginia',
 'Massachusetts',
 'Utah',
 'Montana',
 'New Hampshire',
 'New Mexico',
 'Rhode Island',
 'Nevada',
 'District of Columbia',
 'Connecticut',
 'Hawaii',
 'Delaware']

### What are the five most common County names in the U.S?

In [19]:
data['County'].value_counts().head()

Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: County, dtype: int64

### What are the top 5 most populated Counties according to the 2010 Census?

In [21]:
data.sort_values(by='2010Census', ascending=False).head()

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

### What are the top 5 most populated States according to the 2010 Census?

In [33]:
data.groupby('State').sum().sort_values('2010Census', ascending=False).head()

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

### How many Counties have 2010 populations greater than 1 million?

In [38]:
len(data[data['2010Census'] > 1000000])

39

### How many Counties don't have the word County in their name?

In [41]:
data.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [66]:
def check_county(name):
    if 'County' not in name:
        return False
    else: 
        return True
my_series = data['County'].apply(check_county)
my_series.value_counts()

True     3007
False     135
Name: County, dtype: int64

### Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [68]:
data['percentChange'] = ((data['2017PopEstimate']*100)/data['2010Census']) - 100
data.head()

,County,State,2010Census,2017PopEstimate,percentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

### Bonus: What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

In [74]:
data_state = data.groupby('State').sum()
data_state['totalChange'] = ((data_state['2017PopEstimate']*100)/data_state['2010Census']) - 100
data_state.sort_values(by='totalChange', ascending=False).head()

                      2010Census  2017PopEstimate  percentChange  totalChange
State
District of Columbia      601723           693972      15.330808    15.330808
Texas                   25145561         28304596     955.535377    12.562993
North Dakota              672591           755393     308.640607    12.310899
Utah                     2763885          3101833     216.823276    12.227282
Florida                 18801310         20984400     511.173992    11.611372