# Pandas Datetime

In [1]:
import pandas as pd

### pd.date_range

In [2]:
pd.date_range(start='2020-01-01',periods=7,freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('Jan 01, 2018',periods=7,freq='D')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

### pd.to_datetime

- por defecto fecha es reconocida en formato americano MM/DD/YYYY
- datetime lo devuelve como YYYY-MM-DD

In [10]:
pd.to_datetime(['1/2/2018','Jan 03, 2018'])

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [12]:
pd.to_datetime(['2/1/2018','3/1/2018'])

DatetimeIndex(['2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq=None)

In [13]:
# Para determinar un formato
pd.to_datetime(['2_1_2018','3_1_2018'],format='%d_%m_%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

### Data Analysis

In [14]:
import numpy as np

In [17]:
data = np.random.randn(3,2)
cols = ['A','B']
print(data)

[[ 0.04070145  0.9074303 ]
 [-0.84886819 -2.1090948 ]
 [-0.40275964  0.22746628]]

In [20]:
idx = pd.date_range('2020-01-01',periods=3,freq='D')

df = pd.DataFrame(data,columns=cols,index=idx)
df

                   A         B
2020-01-01  0.040701  0.907430
2020-01-02 -0.848868 -2.109095
2020-01-03 -0.402760  0.227466

In [21]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [23]:
# Máximo
df.index.max()

Timestamp('2020-01-03 00:00:00')

In [24]:
# Posición del máximo
df.index.argmax()

2

In [25]:
# Posición del mínimo
df.index.argmin()

0